/*更改默认样式*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.leftfix{
    float: left;
}
.rightfix{
    float: right;
}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
.container{
    width: 1290px;
    height: 30px;
    background-color: gray;
    margin: auto;
}
.header{
    font-size: 0;
}
.box{
    height: 30px;
    line-height: 30px;
}
.box span,.box a{
    font-size: 12px;
    margin-right: 10px;
}
.box .please{
    margin-right: 0;
}
.box .login{
    border-right: black 1px solid;
    padding-right: 10px;
}
.list{
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 12px;

}
.nav ul li a{
    padding: 0 15px;
    border-right: black 1px solid;
}
.nav ul li:last-child a{
    border-right: none;
}
.header_1{
    height: 120px;
    /*background-color: aquamarine;*/
}
.header_1 .frame .logo .image{
    height: 120px;
    width: 120px;
    margin-left: 200px;
    background-color: red;
    opacity: 0.5;
}
.header_1 .frame .search form{
    margin-top: 42px;
    margin-right: 200px;
}
.header_1 .frame .search form input{
    height: 34px;
    width: 508px;
    border: red 1px solid;
}
.header_1 .frame .search form button{
    height: 34px;
    width: 80px;
    background-color: red;
    border: none;
}
.header_2{
    border-bottom: red 1px solid;
}
.header_2 .frame .logo{
    width: 190px;
    height: 48px;
    background-color: red;
    margin-left: 170px;
    text-align: center;
    line-height: 48px;
}
.header_2 .frame .nav ul a{
    border: 0;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
}
.sidebar{
    margin-top: 10px;
}
.sidebar .frame .slide{
    width: 190px;
    height: 458px;
    background-color: lightgrey;
    margin-left: 170px;
}
.sidebar .frame .content{
    width: 690px;
    height: 458px;
    background-color: aqua;
    margin: 0 10px;
}
.sidebar .frame .right_slide{
    width: 400px;
    height: 458px;
    background-color: blueviolet;
}
.sidebar .frame .slide ul {
    display: block;
}
.sidebar .frame .slide li {
    display: block;
    width: 100%;
}
.sidebar .frame .slide li a{
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
    display: block;
    margin: 4px 0;
    width: 100%;
}
.sidebar .frame .slide li:hover{
    background-color: gray;
    color: white;
}